.btn-send{
    background-color: #FFF027;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
    -webkit-transition: all 0.2s;
    position: relative;
}

.icon-check{ 
    position: absolute;
    color:#7A28CB;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out;
    -webkit-transition: all 0.2s;
}

.btn-send:hover{
    transform: scale(1.1);
    filter: brightness(150%);
}
.area_botao:hover .icon-check{
    filter: brightness(150%);
}

.area_botao:active{
    transform: scale(1.0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.747) inset;
    background-color:rgb(155, 149, 39);
    filter: brightness(100%);
}
.area_botao:active .check{
    transform: scale(1.0);
    color:rgb(80, 44, 117);
    filter: brightness(0%);
}