* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
div#container  {
    position: relative;
    flex-direction: initial;
    width: 1366px;
    height: 766px;
    background-color: #ffffff;
    border: black;
    border-radius: 3px solid;
}
img.esfera{
    position: absolute;
    width: 1366px;
    height: 1366px;
    left: -739px;
    top: -324px;
    background: #FEFEFE;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    padding-left: 65px;
}

div.headerlogon {
    display: flex;
}
div#logon {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 627px;
    height: 389px;
    left: 67px;
    top: 180px;

   
}

div.inputgroup {
    flex: initial;
    background-color: lightcoral;

}