* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#container  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto ;
    width: 1366px;
    height: 766px;
    background-color: aqua;
    border: black;
    border-radius: 3px solid;

    flex-direction: initial;
}
div#logon {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 492px;
    height: 389px;
    left: 67px;
    top: 180px;
    background-color: khaki;

}

div.inputgroup {
    flex: initial;
    background-color: lightcoral;

}