.google_area{

    margin: 1cm;

    width: min-content;
    height: min-content;
    border-radius:100%;
    box-shadow: 0px 6px 5px #0000004f;
    transition: ease-in-out;
    -webkit-transition: all 0.2s;
}

.google_icon{
    padding: 15px;
    transition: ease-in-out;
    -webkit-transition: all 0.2s;
}
.google_area:hover{
    transform: scale(1.1);
    box-shadow: 0px 6px 10px #0000004f;

}
.google_area:hover .google_icon{
    filter: brightness(130%);
}
