@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, "Open Sans" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NORMALIZE INPUTs */
a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
  transition:  all ease 0.1s;
}
button:hover{
  transform: scale(1.01);
}

input {
  border-style: none;
  outline: none;
}
input[type="search"],
input[type="text"]{
  cursor: text;
}